* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--default-font);
}

body {
    background-color: rgba(var(--base-clr), 1);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}