@import "./fonts.css";
@import "./variables.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--default-font);
}

#root {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 50px;
}